
body{
    position:absolute;
    background-image: url("https://i.pinimg.com/originals/33/b8/db/33b8db1015f6c692d867966c0fa34584.gif");
    background-repeat: repeat-y;
    background-position: center;
    
}
h1{
    align-items: center;
}
#shubham{
    position:relative;
    left:450px;
}
#first{
    position:relative;
    top:50px;
    left:450px;
    width:500px;
    height:auto;
}
#flex-container{
    display:flex;
    background-color:black;
    position:relative;
    left:40px;
    top:100px;
    width:100%;
}
.second{
    padding:10px;
    margin:10px;
}
img:hover{
    width:110px;
    height:110px;
}
h1{
    animation-name:change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay:1s;
    
}
@keyframes change{
    0%{
        color:red;
    }
    25%{
        color:green;
    }
    50%{
        color:blue;
    }
    75%{
        color:grey;
    }
    100%{
        color:purple;
    }
}